.firstPage{
   background-image: url(https://www.topgear.com/sites/default/files/2022/09/1%20Hyundai%20N%20Vision%2074.jpg);
   width: 136.8vh;
   height: 100vh;
   
}
.secondPagebg{
   background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/0f22af4d-15e0-452d-ba66-1359490b4a0b/bvlatuR/std/2880x1800/Cybertruck-Hero-Desktop);
   background-size: 100% 100%;
   margin: auto;
}
.navBar {
   width: 136.8vh;
   margin:0 ;
   padding: 0;
   background-color: var(--very-light-gray);
}

nav{
   display: flex;
}

h1{
   font-weight: 700;
   
}
.list1{
   list-style: none;
}

h4{
   font-weight: 500;
   
}

.menu {
   margin:16px 31px 0 10px;
}

.firstTitle{
   margin: 0 51vh;
}

.secondTitle{
   margin: 0 570px;
   padding: 100px 0;
}

.titles{
   font-size: 65px;
}


a {
   color: #171a20;
}

.btns{
   margin: 740px 0 0 0;
   display: flex;
   justify-content: center;
   
}

.secondTitle {

}

.arrow{
   margin: 5vh 70vh;
}

.arrow{
   -webkit-animation-name: bounce;
   -webkit-animation-duration: 0.9s;
   -webkit-animation-direction: alternate;
   -webkit-animation-timing-function: cubic-bezier(
   .5, 0.05, 1, .5);
   -webkit-animation-iteration-count: infinite;
}
 


/*STYLES & ANIMATIONS*/
@keyframes bounce {
   from {
       transform: translate3d(0, 0, 0);
   }
   to {
       transform: translate3d(0, 20px, 0);
   }
}




:root {
   --very-light-gray: #d7d7d7;  
   --gray: #35373b;
   --dark: #171a20;
   --blue: #6180a0;
   --sm: 14px;
   --md: 16px;
   --lg: 18px;
   
 }
 body{
     font-family: 'Orbitron', sans-serif;
 }






@media (max-width:750px){
   body {
    width: 790px;
    font-size: 19px;
    margin-bottom: 10px;
   } 
}